.cell {
    border: 1px solid black;
    background-color: white;
    text-align: center;
    font-size: 2rem;
    color: black;
}
.cell:hover {
    cursor: pointer;
}
.cell:disabled {
    color: black;
    cursor: default;
}
.cell-x{
    background-color: yellow;
}
.cell-o{
    background-color: deepskyblue;
}